/* ... estilos anteriores ... */

.cultos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
  margin-top: 20px;

  background: #106114;
  border-radius: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.culto {
  background-color: #fff; /* cor de fundo do quadrado do culto */
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 370px;
}
.culto h3 {
  font-size: 42px;
  margin-bottom: 1rem;
  padding-bottom: 20px;
}
.culto a {
  font-size: 2rem;
  background-color: #106114;
  text-decoration: none;
  color: #fff;
  padding: 20px;
  border-radius: 30px;
}

.culto .imagem {
  width: 250px;
  padding-top: 5px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 0 10px;
}

/* ... estilos adicionais conforme necessário ... */
.info-culto h2 {
  font-size: 4rem;
  padding: 20px;
}

.info-culto p {
  font-size: 2.5rem;
  color: #000;
  background: #fff;
  font-weight: 700;
  padding: 20px;
  border-radius: 15px;
}
